<section id="projects">
	<div class="container">
		<h3>Projects</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/mhmorta/ostomentor">Ostomentor</a></strong>
					- Here I have shared code of OstoMentor, an all-in-one app for Illiostomy patients. For more description, please
					read my CV.
				</h5>
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/mhmorta/AppliedMachineLearning_COMP551">Applied
							Machine Learning</a></strong>
					- You can find my project I did during Applied Machine Learning course at McGill University.
				</h5>

				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/mhmorta/deeplearning_project">Deep Learning Project</a></strong>
					- We all know we learn better when we teach to others... what if there is no one available?! I think 
					a good idea is to summarize what you have learned to learn it deeper! From the begging of Fall 2018 I decided to create this repository and write 
					summaries as much as I can. I should say I have some more ideas to make it more accessible rather than latex PDF files, but 
					I really enjoy what I have gathered so far! 
				</h5>
			</div>
		</div>
	</div>
</section>